.moto-details-title {
  width: 720px;
  margin: 0 auto; }

.roadside-area {
  width: 1000px;
  margin: 0 auto; }

.roadside-tips {
  padding: 12px;
  color: #333333; }

.roadside-title {
  font-size: 20px;
  padding: 20px; }
