#test-drive-info {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 45px; }

.test-drive-info label {
  display: block;
  color: #333; }

.subheading {
  padding: 12px 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .025em;
  color: #333; }

.subtitle,
.test-drive-radio {
  padding: 12px 0;
  font-size: 15px;
  line-height: 22px; }

.test-drive-input input[type="text"],
.test-drive-input select {
  height: 40px;
  width: 50%;
  border: 1px solid #ddd;
  font-weight: 400 !important;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: #333;
  text-indent: 12px; }

.test-drive-input select {
  margin-bottom: 12px; }

.test-drive-submit {
  display: block;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 160px;
  border: 1px solid #2b7bcd;
  color: #2b7bcd;
  margin-top: 24px; }

.test-drive-submit:hover {
  background: #2b7bcd;
  color: white;
  cursor: pointer; }

.agreement {
  color: #2b7bcd;
  padding-bottom: 24px; }

.supple {
  padding: 12px 0;
  color: #333333; }
